<div class="card animated fadeIn fast">
    <img [src]=" album.img " class="card-img-top" [alt]="album.nombre">
    <div class="card-body">
        <h5 class="card-title"> {{ album.nombre }}</h5>
        <p class="card-text"> {{ album.bio }}</p>
        <p class="card-text"><small class="text-muted">Released on {{ album.fecha | date: 'dd/MM/yyyy' }} </small></p>
        <button (click)="verAlbum()" type="button" class="btn btn-outline-primary btn-block">
          Show more
        </button>
        <!-- <a [routerLink]="['/album', i ]" class="btn btn-outline-primary">Show more</a> -->
    </div>
</div>